*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
}

#left-image{
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: auto;
}

#right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer{
    background-color: #f9fafb;
}

main{
    box-shadow: 0 0 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-elements{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#body-text {
    margin: 10px;
}

#input-fields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}